<h1><li><%= @job.description%></h2></li>

<%= form_with(model: [@job, @comment], local: true) do |f| %>
   


  <% if @comment.errors.any?%>
   <div class="errors">
    <h5><%= @comment.errors.count%></h5>
    <ul>
      <% @comment.errors.full_messages.each do |msg|%>
        <li><%= msg%></li>
      <%end%>
    </ul>
   </div>
  <%end%>

<div class="form-group">
  <h3> <%= f.label :comment %></h3>
    <%= f.text_field :comment, { class: "form-control" } %>
   
  </div>
 
  
<button type="submit" class="btn btn-primary"> Submit</button>

<%end%>
 


