
<div class="form-group">
    <%= f.label :skil %><br />
    <%= f.text_field :skil, autofocus: true, class: "form-control" %>
  </div>


<div class="form-group">
    <%= f.label :companey_name %><br />
    <%= f.text_field :companey_name, autofocus: true,class: "form-control"%>
  </div>

<div class="form-group">
    <%= f.label :experience_year %><br />
    <%= f.text_field :experience_year, autofocus: true, class: "form-control"%>
</div>

  