<h1><center> <div style="background:#50BFE6">Job Page </center></h1>

<%if !current_user.is_user? %>
        <%= link_to "Create Jobs", new_job_path, class: "btn btn-success btn-xs"%>
    <% end %>
<%= current_user.roles_name%></sapn>
<% @jobs.each do |job| %>
<h2><li><%= job.description %></li></h2>
	<%= image_tag "http://localhost:3000#{job.image}"%>

            <br><%=job.likes.count%><%unless job.checkLikes(current_user) %>
	        <%=link_to "Like", job_likes_path(job.id), method: :post, class: "btn btn-success btn-xs" %>
	        <%else%>
	       	<%=link_to "unlike", job_like_path(job.id,job.checkLikes(current_user).id), method: :delete, class: "btn btn-danger btn-xs" %>
	       	<%end%>
	       	<%#=link_to "Who's Comments " ,  job_comments_path(job), class: 'btn btn-primary btn-xs'%>
            <%= link_to 'Write Comments' ,  new_job_comment_path(job), class: 'btn btn-success btn-xs '%>
            <%#debugger%>
			
      <%if job.user.id == current_user.id%>
      <span class= "pull-right"><%= link_to "Job_Edit",edit_job_path(job.id), class: "btn btn-primary btn-xs" %></span>
  <%end %>
       <% end %>
           


