 <div class="col-md-2"> 
 <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <h1 class="text-light"><a href="index.html"><%= current_user.email%></a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
	      <% if current_user%>
	        <li><%= link_to "Logout", destroy_user_session_path, method: :delete,class: 'btn btn-danger btn-xs'%></li> 
	         <span class= "pull-right"><%#=current_user.email%></span>
	       <%end%>
	                 <li><%=link_to "Jobs Page",jobs_path %> 
          <%unless is_portfolio?%>        
             <li><%= link_to " Create Portfolio",new_portfolio_path, class: 'btn btn-successs'%></li>
        <% end %>

            <li><%= link_to "Profile",profile_path(current_user.profile.id), class: "btn btn-succes" if current_user.try(:profile).try(:id) %></li>
          <li><%= link_to "Add Friends", profiles_path,class: "btn btn-small"%></li>
          <li><%= link_to "Notification",notifications_path%>
          <li><%= link_to "Post",posts_path, class: 'brn btn-succes' %></li>
          <li><%= link_to "Sendmail", usermailer_path%></li>
        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header>
</div>

