<!DOCTYPE html>
<html>
  <head>
    <title>Education</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Education</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
        <% if current_user%>
        <span class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete,class: 'btn btn-danger btn-xs'%></span>
               

         <span class= "pull-right"><%=current_user.email%></span>
       <%end%>
        <ul class="nav navbar-nav">
          <li><%=link_to "Jobs Page",jobs_path %> 
          <%unless is_portfolio?%>        
             <li><%= link_to " Create Portfolio",new_portfolio_path, class: 'btn btn-successs'%></li>
        <% end %>

            <li><%= link_to "Profile",profile_path(current_user.profile.id), class: "btn btn-succes" if current_user.try(:profile).try(:id) %></li>
          <li><%= link_to "Add Friends", profiles_path,class: "btn btn-small"%></li>
          <li><%= link_to "Notification",notifications_path%>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <% if user_signed_in? %>
    <div class="col-lg-3">
      <div class="well sidebar-nav">
     <h3>Sidebar</h3>
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li><%= link_to "Post",posts_path, class: 'brn btn-succes' %></li>
          <li><%= link_to "Sendmail", usermailer_path%></li>
          <li><%= link_to "Link3", "/path3"  %></li>
          </ul>
        </div>
      </div>
    </div>
      <footer>
        <p>&copy; Company 2020</p>
      </footer>
    </div> 
  </body>
</html>
  </head>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  <body>
    <%#= yield %>
  </body>
</html> 
 <%end%>


