<!DOCTYPE html>
<html>
  <head>
    <title>Education</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
<body>
   <% if notice || alert %>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <%end%>
<!--     <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Education</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
        <% if current_user%>
        <span class="pull-right"><%= link_to "Logout", destroy_user_session_path, method: :delete,class: 'btn btn-danger btn-xs'%></span> 
         <span class= "pull-right"><%=current_user.email%></span>
       <%end%>
        <ul class="nav navbar-nav">
          <li><%=link_to "Jobs Page",jobs_path %> 
          <%unless is_portfolio?%>        
             <li><%= link_to " Create Portfolio",new_portfolio_path, class: 'btn btn-successs'%></li>
        <% end %>

            <li><%= link_to "Profile",profile_path(current_user.profile.id), class: "btn btn-succes" if current_user.try(:profile).try(:id) %></li>
          <li><%= link_to "Add Friends", profiles_path,class: "btn btn-small"%></li>
          <li><%= link_to "Notification",notifications_path%>
          </ul>
        </div>
      </div>
    </div> -->
    <div class="container">
    <%= render partial: 'shared/side_panel' if current_user%>
    <div class="col-md-10">
      <section class="d-flex flex-column justify-content-center align-items-center">
        <%= yield%>
      </section>
    </div>
   
    <%#= render partial: 'shared/footer' if current_user%>
  </body>
</html>



